* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-container {
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.content-container > *:not(a) {
  min-width: min(500px, 100%);
  max-width: 500px;
  padding: 1rem;
}

h1 {
  font-weight: 600;
  line-height: 1.5;
  font-size: 2.5rem;
  margin-bottom: 0.25rem;
  text-align: center;
}

.home-page-container > p:first-child {
  padding-bottom: 0.75rem;
}

#url-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.1em;
  color: black;
}

#url {
  padding: 0.25rem 1rem;
  background-color: white;
  border: 1px solid #a0a0a0;
  flex: 1;
  text-align: left;
  border-radius: 0.25rem;
  font-size: 1rem;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0.25rem;
  display: block;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

button:hover {
  background-color: #dddddd;
}

a {
  font-weight: 500;
  color: #333333;
}
a:hover {
  color: #555555;
}

ul {
  list-style: none;
}

#search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#search-input {
  outline: none;
  padding: 0.25rem 1rem;
  background-color: white;
  border: 1px solid #a0a0a0;
  flex: 1;
  text-align: left;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.dott-list {
  width: 100%;
}

.dott-list li {
  border: 2px solid #d4d4d7;
  border-radius: 0.5rem;
  padding: 1rem;
  background: white;
  font-size: 0.875rem;
  line-height: 1.25;
  color: #4b5563;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 1rem;
}

.dott-list li > div:first-child {
  color: black;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75;
}
