@import "tailwindcss";

@theme {
  --color-text: #f2ebfa;
  --color-text-accent: #ff6ff3;
  --color-background: #201b25;

  --color-card-primary-bg: #362d3d;
  --color-card-primary-text: #ebe8eb;

  --color-card-secondary-bg: #1b161e;
  --color-card-secondary-text: #ebe8eb;

  --color-danger-bg: #e7000b;
  --color-danger-text: #f2ebfa;
}

@layer base {
  * {
    accent-color: var(--color-text-accent);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  [type="checkbox"] {
    appearance: none;
  }

  [type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }
}

@layer utilities {
  .card {
    @apply bg-card-primary-bg text-card-primary-text;
  }

  .card-secondary {
    @apply bg-card-secondary-bg text-card-secondary-text;
  }
}

html, body, #app {
  max-width: 100%;
}
